<div>
    <h2 id="page-heading">
        <span jhiTranslate="coursewareApp.course.home.title">Courses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course" [routerLink]="['/course/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coursewareApp.course.home.createLabel">
            Create a new Course
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="courses?.length === 0">
        <span jhiTranslate="coursewareApp.course.home.notFound">No courses found</span>
    </div>
    <div class="table-responsive" *ngIf="courses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="picture"><span jhiTranslate="coursewareApp.course.picture">Picture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="coursewareApp.course.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="coursewareApp.course.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="coursewareApp.course.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="coursewareApp.course.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level"><span jhiTranslate="coursewareApp.course.level">Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tutor"><span jhiTranslate="coursewareApp.course.tutor">Tutor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="category.name"><span jhiTranslate="coursewareApp.course.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course of courses ;trackBy: trackId">
                <td><a [routerLink]="['/course', course.id, 'view' ]">{{course.id}}</a></td>
                <td>
                    <a *ngIf="course.picture" (click)="openFile(course.pictureContentType, course.picture)">
                        <img [src]="'data:' + course.pictureContentType + ';base64,' + course.picture" style="max-height: 30px;" alt="course image"/>
                    </a>
                    <span *ngIf="course.picture">{{course.pictureContentType}}, {{byteSize(course.picture)}}</span>
                </td>
                <td>{{course.title}}</td>
                <td>{{course.startDate | date:'mediumDate'}}</td>
                <td>{{course.endDate | date:'mediumDate'}}</td>
                <td>{{course.price}}</td>
                <td jhiTranslate="{{'coursewareApp.CourseLevel.' + course.level}}">{{course.level}}</td>
                <td>{{course.tutor}}</td>
                <td>
                    <div *ngIf="course.category">
                        <a [routerLink]="['/category', course.category?.id, 'view' ]" >{{course.category?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/course', course.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course', course.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course', { outlets: { popup: course.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="courses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
