<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span jhiTranslate="coursewareApp.course.detail.title">Course</span> {{course.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coursewareApp.course.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="course.picture">
                        <a (click)="openFile(course.pictureContentType, course.picture)">
                            <img [src]="'data:' + course.pictureContentType + ';base64,' + course.picture" style="max-width: 100%;" alt="course image"/>
                        </a>
                        {{course.pictureContentType}}, {{byteSize(course.picture)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.title">Title</span></dt>
                <dd>
                    <span>{{course.title}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.subtitle">Subtitle</span></dt>
                <dd>
                    <span>{{course.subtitle}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.startDate">Start Date</span></dt>
                <dd>
                    <span>{{course.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.endDate">End Date</span></dt>
                <dd>
                    <span>{{course.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.price">Price</span></dt>
                <dd>
                    <span>{{course.price}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.level">Level</span></dt>
                <dd>
                    <span jhiTranslate="{{'coursewareApp.CourseLevel.' + course.level}}">{{course.level}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.tutor">Tutor</span></dt>
                <dd>
                    <span>{{course.tutor}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.contactInfo">Contact Info</span></dt>
                <dd>
                    <span>{{course.contactInfo}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.requirements">Requirements</span></dt>
                <dd>
                    <span>{{course.requirements}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.description">Description</span></dt>
                <dd>
                    <span>{{course.description}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.location">Location</span></dt>
                <dd>
                    <span>{{course.location}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.hours">Hours</span></dt>
                <dd>
                    <span>{{course.hours}}</span>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.category">Category</span></dt>
                <dd>
                    <div *ngIf="course.category">
                        <a [routerLink]="['/category', course.category?.id, 'view']">{{course.category?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coursewareApp.course.tags">Tags</span></dt>
                <dd>
                    <span *ngFor="let tags of course.tags; let last = last">
                        <a [routerLink]="['/tag', tags?.id, 'view' ]">{{tags.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
